In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
path = "/content/drive/MyDrive/AMS_attendees.csv"
df_ams = pd.read_csv(path, names = ["attendee", "affiliation", "link", "letter"])

In [8]:
df_ams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018 entries, 0 to 4017
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   attendee     4018 non-null   object
 1   affiliation  3997 non-null   object
 2   link         4018 non-null   object
 3   letter       4018 non-null   object
dtypes: object(4)
memory usage: 125.7+ KB

In [9]:
df_ams.head()

,attendee,affiliation,link,letter
0,David Aasen,Microsoft Station Q,https://meetings.ams.org/math/jmm2022/meetinga...,A
1,Mohamed Abdelkader Abba,North Carolina State University,https://meetings.ams.org/math/jmm2022/meetinga...,A
2,Fazal Abbas,"Mathematics and Computer Sciences, Stetson Uni...",https://meetings.ams.org/math/jmm2022/meetinga...,A
3,Fazal Abbas,"Mathematics and Computer Sciences, Stetson Uni...",https://meetings.ams.org/math/jmm2022/meetinga...,A
4,Carolyn Abbott,Brandeis University,https://meetings.ams.org/math/jmm2022/meetinga...,A

In [10]:
np.random.seed(0)

In [11]:
df_ams_cleaned = df_ams[df_ams.affiliation.notnull()]

In [12]:
df_ams_cleaned

,attendee,affiliation,link,letter
0,David Aasen,Microsoft Station Q,https://meetings.ams.org/math/jmm2022/meetinga...,A
1,Mohamed Abdelkader Abba,North Carolina State University,https://meetings.ams.org/math/jmm2022/meetinga...,A
2,Fazal Abbas,"Mathematics and Computer Sciences, Stetson Uni...",https://meetings.ams.org/math/jmm2022/meetinga...,A
3,Fazal Abbas,"Mathematics and Computer Sciences, Stetson Uni...",https://meetings.ams.org/math/jmm2022/meetinga...,A
4,Carolyn Abbott,Brandeis University,https://meetings.ams.org/math/jmm2022/meetinga...,A
...,...,...,...,...
4013,Foling Zou,University of Michigan,https://meetings.ams.org/math/jmm2022/meetinga...,Z
4014,Wadim Zudilin,Radboud University,https://meetings.ams.org/math/jmm2022/meetinga...,Z
4015,Alexander Zupan,University of Nebraska-Lincoln,https://meetings.ams.org/math/jmm2022/meetinga...,Z
4016,Alexander Zupan,University of Nebraska-Lincoln,https://meetings.ams.org/math/jmm2022/meetinga...,Z
4017,Inka Zörnig,"Department of Medical Oncology, National Cente...",https://meetings.ams.org/math/jmm2022/meetinga...,Z

In [14]:
df_ams_sample = df_ams_cleaned.sample(n = 200, replace = False, random_state = 0)

In [15]:
df_ams_sample.to_csv("/content/drive/MyDrive/AMS_sample.csv")